<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Welcome {{username}}</h3>
                    </div>
                    <div class="card-body d-flex flex-column align-items-center">
                        <p class="card-text font-weight-bold" style="font-size: 1.2rem">Clock in/out : {{ currentDate }}</p>
                        <p class="card-text font-weight-bold" style="font-size: 1.2rem" *ngIf="clockedIn">Clocked In at: {{ clockedInTime }}</p>
                        <p class="card-text font-weight-bold" style="font-size: 1.2rem" *ngIf="clockedOut">Clocked Out at: {{ clockedOutTime }}</p>
                        <button class="btn btn-primary m-2" *ngIf="!clockedIn && !clockedOut" (click)="clockIn()">Clock In</button>
                        <button class="btn btn-secondary" *ngIf="clockedIn && !clockedOut" (click)="clockOut()">Clock Out</button>
                        <button class="btn btn-danger m-2" *ngIf="clockedInTime && clockedOutTime" (click)="logout()">Logout</button>
                        <p class="text-center mt-3" *ngIf="message">{{ message }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>
