<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Clock</h5>
      <p class="card-text">Clock in or clock out</p>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="clockToggle">
        <label class="form-check-label" for="clockToggle">Clock In/Out</label>
      </div>
      <button class="btn btn-primary m-2" (click)="clockIn()">Clock In</button>
      <button class="btn btn-secondary" (click)="clockOut()">Clock Out</button>
    </div>
  </div>
</div>
